SCHWAB_APP_KEY=
SCHWAB_APP_SECRET=
SCHWAB_CALLBACK_URL=https://127.0.0.1:8182/

SCHWAB_DASHBOARD_DATA_DIR=var
SCHWAB_DASHBOARD_HOST=127.0.0.1
SCHWAB_DASHBOARD_PORT=8182
SCHWAB_DASHBOARD_LOG_LEVEL=INFO
