<div class="gateway-promenade" aria-hidden="true">
  <span class="gateway-promenade-rail"></span>
  <div class="gateway-promenade-character">
    <div class="gateway-promenade-walk">
      <pre class="gateway-promenade-frame frame-a"> ()___()
( o   o )
|   ^   |
(  /_\  )
 `-._.-'
  /   \</pre>
      <pre class="gateway-promenade-frame frame-b"> ()___()
( o   o )
|   ^   |
(  /_\  )
 `-._.-'
   /| \</pre>
      <pre class="gateway-promenade-frame frame-c"> ()___()
( o   o )
|   ^   |
(  /_\  )
 `-._.-'
  /   \</pre>
      <pre class="gateway-promenade-frame frame-d"> ()___()
( o   o )
|   ^   |
(  /_\  )
 `-._.-'
  / |\</pre>
    </div>
    <div class="gateway-promenade-wave">
      <pre class="gateway-promenade-frame wave-a"> ()___()  /
( o   o ) /
|   ^   |/
(  /_\  )
 `-._.-'
  /   \</pre>
      <pre class="gateway-promenade-frame wave-b"> ()___()  _
( o   o ) |
|   ^   |/
(  /_\  )
 `-._.-'
  /   \</pre>
    </div>
  </div>
</div>
